<header class="site-header">

  <div class="wrapper">

     {% if page.layout != "about" %}
    <span class="site-title">
        {% assign name = site.name | split: ' ' %}
         <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/" > <strong>{{ name | first }} {{ name | last }} </strong></a>
    </span>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- About -->
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">about</a>

        <!-- Blog -->
        <!-- <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">blog</a> -->

        <!-- Pages -->
        {% for page in site.pages %}
          {% if page.title and page.url != "/" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

        <!-- CV link -->
        <a class="page-link" href="{{ '/assets/pdf/CV.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a>
         </div>
       <!-- dropdown -->
     <div class="menu-btn" id="menu-btn">
  <div></div>
  <span></span>
  <span></span>
  <span></span>
     </div>
       <div class="responsive-menu">
        <ul>
           <li class="droplist"><a class="page-links" href="{{ site.baseurl | prepend: site.url }}/">about</a></li>
           

           {% for page in site.pages %}
          {% if page.title and page.url != "/" %}
            <li class="droplist"><a class="page-links" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
           <li class="droplist"><a class="page-links" href="{{ '/assets/pdf/ngaito.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a></li>
        </ul>
     </div>


      </div>
    </nav>

  </div>

</header>
