.site-header {
    border-bottom: 1px solid $grey-color-light;
    background-color: #fff;
    opacity: 0.95;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    z-index: 50;
}

.site-title {
    font-size: 20px;
    line-height: $nav-height;
    letter-spacing: -1px;
    margin-bottom: 0;
}
.site-nav {
    float: right;
    line-height: $nav-height;
    .page-link{
        line-height: $line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
    // @include media-query($on-palm) {
    //     position: fixed;
    //     top: 0px;
    //     right: 10px;
    //     text-align: right;
    //     &:hover .trigger {
    //         display: block;
    //         padding-bottom: 5px;
    //     }
    //     .page-link {
    //         display: line;
    //     }
    // }
}

.dropdown {
    position: relative;
    display: none;
}

.expand {
    display: none; 
}
.responsive-menu{
    display: none;
}
// Media Query css
@media (max-width:  768px){


        .header-bar{
            border-bottom: 1px solid $light-gray;
            font-size: 20px;
            display: block;
            opacity: 0.75;
            width: 100%;
            text-align: center;
            padding-top: 25px;
            padding-bottom: $space-4;
            line-height: 3em;
            z-index: 25;
            h1{
                color: $theme-color;
                font-size:75px;
            }
            h2{
                font-size:25px;
            }
        }

            .trigger {
               display: none;
                }

            // }

        /* Style The Dropdown Button */
        .menu-btn{
            margin-top: 1.0em;
            margin-bottom: 1.0em;
            float: right;

        }
        .menu-btn div {
            position: absolute;
            left: 100%;
            top: 64%;
            padding-right: 8px;
            margin-top: -0.5em;
            line-height: 1.2;
            font-size: 18px;
            font-weight: 200;
            vertical-align: middle;
            z-index: 99;
        }

        .menu-btn span {
            display: block;
            width: 19px;
            height: 3px;
            margin: 4px 0;
            background: rgb(0,0,0);
            z-index: 99;

        }

        // 

        .expand {
            display: block !important; 
        }

        .menu-btn div {
            position: absolute;
            // left: 100%;
            top: 64%;
            padding-right: 8px;
            margin-top: -0.50em;
            line-height: 1.2;
            font-size: 18px;
            font-weight: 200;
            vertical-align: middle;
            z-index: 99;
        }
         
        .menu-btn span {
            display: block;
            width: 19px;
            height: 3px;
            margin: 4px 0;
            background: rgb(0,0,0);
            z-index: 99;
            right: 100%;

        }
         
        .responsive-menu{
            margin-right: 5em;
            clear: right;
            }
        
        //hamburger menu css
        .page-links{
            font-size: 18px !important;
            font-weight: 900 !important;
        }
        .droplist{
            list-style-type: none;
        }

        .droplist:hover{
                background: #D1CEC6 !important;
                // background: #CBB172 !important;
            }

}//end media media-query
